<%= form_for @service do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :autofocus=>true, :required => true %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :cost %>
  <%= f.number_field :cost, :required => true %>
  <br>
  <label></label>
  <%= f.submit %>
<% end %>
