<h1><%= @service.name %> </h1>
<div class="row">
  <div class="col-md-6">
    <%= cl_image_tag @service.image , :class=>"feature"%>
  </div>
  <div class="col-md-6">
    <p>
      <h3><%= "#{@service.description}" %> </h3>
      <h3>Cost of the service per hour: <%= "#{@service.cost}" %></h3>
    </p>
    <div class="controls">
      <% if (@current_user.present? && @current_user.admin?) %>
        <h4><%= link_to "Edit", edit_service_path %>
        <%= link_to "Delete", @service, :method=>"delete", :data=>{:confirm=>"Are you sure?"} %>
        <%= link_to "All bookings", service_bookings_path(@service.id) %>
      <% end %>
        <%= link_to "Book service", new_service_booking_path(@service.id) %></h4>
    </div>
  </div>
</div>
