<%= form_for [@service, @booking] do |f| %>
<div class="row">
<div class="col-md-3"></div>

<div class="col-md-6">
<div class="form-group">
  <%= f.label :user_email, "Email id" %>
  <%= f.email_field :user_email, :value=>@current_user.email, :autofocus=> true,
      :required=>true %>
</div>
  <%# f.label :service %>
  <%# f.collection_select :service_id, @services, :id, :name,
      {:include_blank => "Select a service"}, :required => true %>


<div class="form-group">
  <%= f.label :appointment_time, "Time you need the service" %>
  <%= f.text_field :appointment_time, :required=>true, :id => 'apt-date' %>
</div>

  <%= f.submit :class=>"btn btn-primary"%>
<% end %>
</div>

<div class="col-md-3"></div>
</div>

<script>
  var disableTheseTimes = <%== @service.bookings.pluck(:appointment_time).map { |x| x.to_s.chomp(':00 UTC') } %>
</script>
