<h1><%= @property.name %></h1>
<% if !@property.image.nil? %>
  <%= image_tag @property.image %><br>
<% end %>
  <%= "Address: #{@property.address}" %><br>
  <%= "Postcode: #{@property.postcode}" %><br>
  <%= "Rent per week: #{@property.rent}" %><br>
  <%= "Number of Bedrooms: #{@property.no_of_bedrooms}" %><br>
  <%= "Number of Bathrooms: #{@property.no_of_bathrooms}" %><br>
  <%= "This property can accomodate: #{@property.capacity} people" %><br>
  <%= "Room type: #{@property.room_type}" %><br>
  <%= "For males or females: #{@property.female_male}" %><br>
  <%= "Smoking allowed: #{@property.smoking}" %><br>
  <%= "Pets allowed: #{@property.pets}" %><br>

<div class="controls">
  <% if (@current_user.present? && @current_user.admin?) %>
    <%= link_to "Edit", edit_property_path %>
    <%= link_to "Delete", @property, :method=>"delete", :data=>{:confirm=>"Are you sure?"} %>
  <% end %>
    <%= link_to "Make reservation", new_reservation_path %>
</div>
