<h1><%= @property.name %></h1>
<% if !@property.image.nil? %>
  <%= cl_image_tag @property.image %><br>
<% end %>
  <strong>Address: </strong><%= "#{@property.address}" %><br>
  <strong>Postcode: </strong><%= "#{@property.postcode}" %><br>
  <strong>Rent per week: </strong><%= "#{@property.rent}" %><br>
  <strong>Number of Bedrooms: </strong><%= "#{@property.no_of_bedrooms}" %><br>
  <strong>Number of Bathrooms: </strong><%= "#{@property.no_of_bathrooms}" %><br>
  <strong>This property can accomodate: </strong><%= "#{@property.capacity} people" %><br>
  <strong>Number of available positions: </strong><%= "#{@property.available_positions}" %><br>
  <strong>Room type: </strong><%= "#{@property.room_type}" %><br>
  <strong>For males or females: </strong><%= "#{@property.female_male}" %><br>
  <strong>Smoking allowed: </strong><%= "#{@property.smoking}" %><br>
  <strong>Pets allowed: </strong><%= "#{@property.pets}" %><br>

<div class="controls">
  <% if (@current_user.present? && @current_user.admin?) %>
    <%= link_to "Edit", edit_property_path, :class=>"btn btn-primary" %>
    <%= link_to "Delete", @property, :method=>"delete", :data=>{:confirm=>"Are you sure?"}, :class=>"btn btn-primary" %>
    <%= link_to "All reservations", property_reservations_path(@property.id), :class=>"btn btn-primary" %>
  <% end %>
    <%= link_to "Make reservation", new_property_reservation_path(@property.id), :class=>"btn btn-primary" %>
</div>
