<%= form_for [@property, @reservation] do |f| %>

  <%= f.label :user_email, "Email Id" %>
  <%= f.email_field :user_email, :value=>@current_user.email, :autofocus=>true,
      :required => true %>
  <br>
  <%# f.label :property %>
  <%# f.collection_select :property_id, @properties, :id, :name,
      {:include_blank => "Select a property"}, :required => true %>
  <br>
  <%= f.label :start_date, "Start from" %>
  <%= f.date_field :start_date, :required => true %>
  <br>
  <%= f.label :end_date, "Till date" %>
  <%= f.date_field :end_date, :required => true %>
  <br>
  <%= f.label :no_of_people, "No of people" %>
  <%= f.number_field :no_of_people, :required => true %>
  <br>
  <label></label>
  <%= f.submit %>

<% end %>
