<tr>
<div class="row">
<td class="col-md-1"><%= reservation.id %></td>
<td class="col-md-1"><%= reservation.user.firstname %></td>
<td class="col-md-1"><%= reservation.user.lastname %></td>
<td class="col-md-1"><%= reservation.user.email %></td>
<% if !reservation.user.contact.nil? %>
  <td class="col-md-1">Contact: <%= reservation.user.contact %></td>
<% end %>
<td class="col-md-1"><%= reservation.property.name %></td>
<td class="col-md-1"><%= "#{reservation.property.address}, #{reservation.property.postcode}" %></td>
<td class="col-md-1"><%= reservation.property.room_type %></td>
<td class="col-md-1"><%= reservation.start_date %></td>
<td class="col-md-1"><%= reservation.end_date %></td>
<td class="col-md-1"><%= reservation.no_of_people %></td>
<% if @current_user.present? and @current_user.admin? %>
      <td class="col-md-1">  <%= link_to "Edit", edit_property_reservation_path(reservation.property_id, reservation.id) %>,
        <%= link_to "Delete", property_reservation_path(reservation.property_id, reservation.id),
                    :method=>"delete", :data=>{:confirm=>"Are you sure?"}%> </td>
    <% end %>
</div>
</tr>
